html{
    background: #ccff99;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 40px;
    color: #242424;
    border-top: 10px solid #242424;
}

h1{
    font-size: 3em;
    margin: 0;
}

p{
    line-height : 1.4em;
}

#blog{
    border-top: 1px dotted #ccc;
}

.blog-post {
    border-bottom : 1px dotted #ccc;
}

article{
    border-bottom : 1px dotted #000;
    padding: 20px;
    margin: 20px
}

section {
    display: flex;
}

.img-container{
    background: white;
    height: 50px;
    width: 50px;
    float: left;
    margin-right: 10px;
}
.sticky, .position-demo {
    color: white;
    padding: 20px;
}

.sticky {
    background: green;
    position: sticky;
    top: 0;
}

.position-demo{
    background: blue;
}